

@{
    ViewData["Title"] = "Badge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
<h1>Badge</h1>

<div>
    <p>You have been assigned a Badge: <pre>@ViewBag.tbadge</pre></p>
   
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>*@
<div class="alert alert-dismissible alert-success">
    <p>You have been assigned a Badge: <pre>@ViewBag.tbadge</pre></p>
    <strong>Well done!</strong>
</div>

