@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid home" >
    <div>
        <nav class="navbar navbar-expand-lg bg-primary navbar-dark homeNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="BadgeQueue">Badge Queue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="BadgeOut">Badge Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="BadgeReport">Badge Report</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="Sign">
        <div class="SignIn">
            <a asp-action="SignIn" class="btn btn-primary btn-lg">Sign In</a>
        </div>
        <div class="SignOut">
            <a asp-action="SignOut" class="btn btn-primary btn-lg">Sign Out</a>
        </div>
    </div>
</div>
